.navbar-flex-stack{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.navbar-flex-list{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.navbar-flex-list-text{
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
}

